*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    
}
body{
    background-image: url("Assets/bg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: scroll;
    margin: 0px;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    height: 100vh;
    
}
.mainDiv {
    /* position: relative; */
    width: 25%;
    margin: 30px auto auto auto;
    /* background-color: rgb(255,255,255,0.04); */
    backdrop-filter: blur(5px);
    padding: 20px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 0 20px;
    text-align: center;
    /* text-align: center; */
}
.logo{
    margin-top: 40px;
    box-shadow: 0px 0px 30px ;
    width:150px;
    border-radius: 50%;
}
h1 {
    text-shadow: 1px 1px 10px black;
    /* background-color: rgba(255,255,255,0.1); */
    /* box-shadow: 0px 0px 10px rgb(46, 43, 43); */
    backdrop-filter: blur(5px);
    padding: 2px 20%;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.log-sign-input{
    position: relative;
    /* align-items: center; */
    width: 100%;
}
.log-sign-input input{
    outline: none;
    display: block;
    margin: 5px auto;
    padding: 15px;
    width: 75%;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    color: white;
    border-radius: 30px;
    position: relative;
    border: 1px solid white;
    /* box-sizing: border-box; */
    
}
button{
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    padding: 0.5em 1em;
    border: 5px solid rgb(2, 2, 28);
    border-radius: 15px;
    background: rgb(97, 97, 180);
    font-weight: 600;
    box-shadow: 0px 10px 20px black;
    transition: 0.3s;
}
h1{
    font-size: 30px;
}
a{
    margin-top: -20px;
    font-size: 15px;
    color: white;
    transition: 0.3s;  
}
a:hover{
    text-shadow: 0px 8px 10px black;
    transform: translateY(-2px);
}
a:active{
    transform: scale(0.98);
}
label{
    /* background-color: chartreuse; */
    /* width: fit-content; */
    /* text-align: left; */
    color: rgb(132, 122, 122);
    /* padding: 0px 50%; */
    top: 25%;
    transition: 0.4s;
    /* transform: translateY(-40%); */
    position: absolute;
    left: 15%;
    /* position: ; */
     /*Adjust this value as needed*/
    /* font-size: 12px; Adjust the font size as needed */
}
.log-sign-input input:hover,
.log-sign-input input:focus,
.log-sign-input input:valid{
border-color: chartreuse;
}
label:hover,
.log-sign-input input:hover ~ label,
.log-sign-input input:focus ~ label,
.log-sign-input input:valid ~ label{
transform: translate(-20%,-110%);
color: navy;
background-color: chartreuse;
border-radius: 10px;
padding: 2px 10px;
font-size: 12px;
}
button:hover{
    background: rgb(2, 2, 28);
    color: rgb(97, 97, 180);
    transform: translateY(-12px);
    box-shadow: 0px 10px 20px black;

}

button:active{
    transform: scale(0.95);
}
