body{
    background-image: url("Assets/bg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: scroll;
    margin: 0px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    height: 100vh;
    
}
.mainDiv {
    width: 30%;
    margin: auto;
    /* background-color: #ffffff; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 400px); */
    height: 55%;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    margin-top: 30px;
}
.logo{
    margin-top: 40px;
    box-shadow: 0px 0px 30px ;
    width:150px;
    border-radius: 50%;
}

.formDiv {
    text-align: center;
        /* display: block; */
        width: 100%;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

input[type="text"],
input[type="password"]{
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 55%;
    align-items: center;
    margin-bottom: 15px;
    background: transparent;
    color: white;
}
button{
    width: 75px;
    height: 30px;
    background: rgb(97, 97, 180);
    border-radius: 10px;
    font-size : 10px;
}
a{
    color: white;
    
}